<h2>Inscription</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label>Nom d'utilisateur :</label><br />
        <input formControlName="username" required />
      </div>
      <div>
        <label>Email :</label><br />
        <input type="email" formControlName="email" required />
      </div>
      <div>
        <label>Mot de passe :</label><br />
        <input type="password" formControlName="password" required />
      </div>
      <button type="submit">Créer un compte</button>
    </form>