<header class="modern-header header-enter">
  <div class="header-container">
    <div class="header-left">
      <button *ngIf="auth.isLoggedIn()" mat-icon-button class="menu-button" [matMenuTriggerFor]="menu"
        aria-label="Menu principal">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu" class="mobile-menu-items">
        <button mat-menu-item [routerLink]="['/accueil']">
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
        </button>
        <button mat-menu-item [routerLink]="['/quiz-list']">
          <mat-icon>quiz</mat-icon>
          <span>Mes Quiz</span>
        </button>
        <button mat-menu-item [routerLink]="['/create-quiz']">
          <mat-icon>add_circle</mat-icon>
          <span>Créer un quiz</span>
        </button>
        <button mat-menu-item *ngIf="hasOrganization" [routerLink]="['/organization', organizationId]">
          <mat-icon>group</mat-icon>
          <span>Mon Organisation</span>
        </button>
        <button mat-menu-item *ngIf="!hasOrganization" [routerLink]="['/create-organization']">
          <mat-icon>add</mat-icon>
          <span>Créer une organisation</span>
        </button>

        <button mat-menu-item *ngIf="auth.isLoggedIn()" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
    </div>

    <div class="header-center">
      <button mat-raised-button class="logo-button" (click)="goHome()" aria-label="Retour à l'accueil">
        QUIZGAME
      </button>
    </div>

    <div class="header-right" *ngIf="auth.isLoggedIn()">
      <div class="user-info">
        <div class="organization-card" *ngIf="hasOrganization && organizationName">
          <div class="org-info">
            <mat-icon class="org-icon">group</mat-icon>
            <div class="org-details">
              <span class="org-label">Organisation</span>
              <span class="org-name">{{ organizationName }}</span>
            </div>
          </div>
          <button mat-icon-button class="manage-button" [routerLink]="['/organization', organizationId]"
            aria-label="Gérer l'organisation" matTooltip="Gérer l'organisation">
            <mat-icon>settings</mat-icon>
          </button>
        </div>

        <div class="create-org-card" *ngIf="!hasOrganization">
          <button mat-raised-button class="create-org-button" [routerLink]="['/create-organization']"
            aria-label="Créer une organisation">
            <mat-icon>add_business</mat-icon>
            <span>Créer une organisation</span>
          </button>
        </div>

        <div class="username">
          Bonjour, <strong>{{ auth.getUsername() }}</strong>
        </div>

        <button mat-raised-button class="logout-button" (click)="logout()" aria-label="Se déconnecter">
          <mat-icon>logout</mat-icon>
          Déconnexion
        </button>
      </div>
    </div>
  </div>
</header>