<mat-card>
  <mat-card-title class="center-title">Jouer au quiz</mat-card-title>
  <mat-card-content>
    <div *ngIf="showResults" style="text-align: center;">
      <h3>Quiz terminé !</h3>
      <h2>Score : {{ score }} / {{ questions.length }}</h2>
      <p>{{ (score! / questions.length * 100) | number:'1.0-0' }}% de réussite</p>
      <a routerLink="/quiz-list">
        <button mat-raised-button color="primary">
          <mat-icon>arrow_back</mat-icon> Retour aux quiz
        </button>
      </a>
    </div>

    <div *ngIf="!showResults && currentQuestion" class="question-container">
      <div class="progress-container">
        <mat-progress-bar mode="determinate" [value]="((currentQuestionIndex + 1) / questions.length) * 100">
        </mat-progress-bar>
        <p class="progress-text">
          Question {{ currentQuestionIndex + 1 }} sur {{ questions.length }}
        </p>
      </div>

      <mat-card class="question-card">
        <mat-card-content>
          <h3 class="question-title">{{ currentQuestion.content }}</h3>

          <div *ngIf="currentQuestion.type === 'QCM'" class="answers-container">
            <button *ngFor="let answer of currentQuestion.answers; let j = index" mat-stroked-button
              [class.selected]="isAnswerSelected(j)" [color]="isAnswerSelected(j) ? 'primary' : ''"
              class="answer-button" (click)="toggleAnswer(currentQuestion._id, j)">
              {{ answer.content }}
            </button>
          </div>

          <div *ngIf="currentQuestion.type !== 'QCM'" class="answers-container">
            <button *ngFor="let answer of currentQuestion.answers; let j = index" mat-stroked-button
              [class.selected]="isAnswerSelected(j)" [color]="isAnswerSelected(j) ? 'primary' : ''"
              class="answer-button" (click)="selectAnswer(currentQuestion._id, answer.content)">
              {{ answer.content }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="navigation-container">
        <div class="navigation-row">
          <button *ngIf="!isFirstQuestion" mat-stroked-button color="accent" (click)="previousQuestion()">
            <mat-icon>arrow_back</mat-icon>
            Précédent
          </button>

          <button *ngIf="!isLastQuestion" mat-raised-button color="primary" (click)="nextQuestion()"
            [disabled]="!hasAnsweredCurrentQuestion()">
            Suivant
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="navigation-finish d-flex justify-content-center align-items-center">
          <button *ngIf="isLastQuestion" mat-raised-button color="primary" (click)="finishQuiz()"
            [disabled]="!hasAnsweredCurrentQuestion()">
            Terminer
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>