html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
}

.center-title {
  text-align: center;
  width: 100%;
  display: block;
}
.question-card {
  margin-bottom: 1.5em;
}

.full-width-radio {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.info-snackbar {
  background-color: #2196f3 !important;
  color: white !important;
}